$dimensions: (
      header: (
            height: 50px,
            max-height: 60px,
      ),
      sidebar: (
            height: 45px,
            max-height: 50px,
            width: 275px,
            max-width: 300px,
      ),
);

// min-height: 44px,
// min-height: 40px,
